<% content_for(:page_title) do %>
  Order Receipt | 
<% end %>

<h2>Thanks for your business.</h2>
<p>
  A confirmation email would be sent shortly, but our highly skilled dev team is sleepy.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.hat.name %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= number_to_currency cart_item.price %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td><strong>Total:</strong></td>
      <td><%= number_to_currency @cart.price_in_dollars %></td>
    </tr>
  </tbody>
</table>
